@import "~bootstrap/scss/bootstrap.scss";

/*
    body {
  background: #bdbdbd;
}

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: rgb(21, 104, 21);
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}
.card {
  display: flex;
  justify-content: center;
  border-radius: 2%;
  margin: 100px auto 0;
  height: 17em;
  width: 10em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

// .card :nth-child(2) {
//   padding-top: 1%;
//   padding-bottom: 1%;
// }

.suit {
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 5%;
  font-size: 3em;
  text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.603);
}

.number {
  display: inline-flex;
  justify-content: center;
  font-size: 7em;
  text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.603);
  padding-top: -3%;
  padding-bottom: -3%;
}

.suit2 {
  display: flex;
  justify-content: flex-start;
  margin-right: 5%;
  font-size: 3em;
  text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.603);
  transform: rotateZ(0.5turn);
}

.button {
  display: flex;
  margin: 10px auto;
  border-radius: 10%;
}
